<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/localStorage.js' %}"></script>
    <title>Document</title>
 
</head>
<body>
<div class="container">
  <div class="requestForm">
    <form action="{% url 'my_view'%}" method="post" id="form">
      {% csrf_token %}
  <textarea id="rI" name="input" class="formInput" wrap="soft" rows="1" oninput="textAreaAdjust(this)"></textarea>
  <input type="hidden" name="chat_history" id="saved_chats">
  <input type="submit" value="send" id="submitButton">
  </form>
</div>      
<div class="conversation" id="conv">

</div>
<div class="errors">
  <p id="error">{{error}}</p>
</div>
</div>

</body>

<script>

chat=`
<div class="input">
<p> {{input}} </p>

</div>
<div class="output">
<p> {{gpt3_output}} </p>
</div>
`
chats_to_save=`{{chat_history}}`

if(chat!==`<div class="input">
<p></p>
</div>
<div class="output">
<p></p>
</div>`){
saveChat(chat)
appendChats()

saveChatHistory(chats_to_save)
addChatHistoryToForm()

} 
function textAreaAdjust(element) {
  element.style.height = "1px";
  element.style.height = (10+element.scrollHeight)+"px";
}




  </script>
</body>
</html>