<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <script src="{% static 'js/localStorage.js' %}"></script>
   
    <title>Document</title>
 
</head>
<body>

<div class="requestForm">
    <form action="{% url 'my_view'%}" method="post" id="form">
      {% csrf_token %}
  <input type="text" id="'rI" name="input">
  <input type="hidden" name="chat_history" id="saved_chats">
  <input type="submit" value="send" >
  </form>
</div>      
<div class="conversation" id="conv">

</div>

<p></p>
</body>

<script>

chat=`
<div class="input">
<p> {{input}} </p>

</div>
<div class="output">
<p> {{gpt3_output}} </p>
</div>
`
chats_to_save=`{{chat_history}}`

if(chat!==`<div class="input">
<p></p>
</div>
<div class="output">
<p></p>
</div>`){
saveChat(chat)
appendChats()

saveChatHistory(chats_to_save)
addChatHistoryToForm()

} 

  </script>
</body>
</html>